.navigation {
    background-color: #99ccff;
    padding: 15px;
}

.nav-item {
    font-size: 1.05vw;
    color: black;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}



.nav-item:hover,
.nav-item:focus, 
.nav-item:active {
  color: #000; 
  text-decoration: none; 
}

.nav-item::before,
.nav-item::after {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 0;
    height: 3.5px;
    background-color: black;
    transition: width 0.3s ease;
}

.nav-item::before {
    left: 50%;
    transform: translateX(-50%, 6px);
}

.nav-item::after {
    right: 50%;
    transform: translateX(50%, 6px);
}

.nav-item:hover::before,
.nav-item:hover::after {
    width: 50%;
}

.page-content {
    margin-top: 1%;
}

@media only screen and (max-width: 1026px) { 
    .profile-container {
        display: none;
    }

    .nav-item {
        font-size: 3vw;
        color: black;
        text-decoration: none;
        position: relative;
        font-weight: bold;
        text-align: center;
        justify-content: center;
    }

    .page-content {
        margin-top: 5%;
    }

    .proj_img {
        display: none;
    }

    .nav-item-div {
        margin-right: 50px;
    }
}

.profile-picture {
    border-radius: 45%;
    width: 70%;
    margin-left: 12.5%;
}

.profile-text-header {
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 16%;
}

.profile-text {
    text-align: center;
    font-size: 14px;
    padding-left: 0;
}

.footer {
    background-color: #99ccff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 2px;
    position: absolute;
    bottom: -250px;
}

.content {
    display: none;
}
  
.active {
    display: block;
}

.prev-next-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.prev-next-buttons button {
    background-color: transparent;
    border: 2px solid #9c9c9c;
    padding: 10px 20px;
    font-size: 25px;
    color: gray;
    transition: color 0.3s;
    cursor: pointer;
    width: 35vw;
    height: 7vh;
}

.prev-next-buttons button:hover {
    color: #99ccff; 
}

button.previous-btn {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

button.next-btn {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

a {
    text-decoration: none;
    color: #141414;
}

a:hover,
a:focus, 
a:active {
  color: #000; 
}

.proj_img {
    border: 2px solid black;
}

.footer-text {
    font-size: 1.0vw;
    margin-left: 10px;
}