@font-face {
    font-family: 'Coolvectica';
    src: url('./fonts/coolvetica-rg.woff') format('woff2');
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('./fonts/Montserrat-Regular.ttf') format('TrueType');
}

.proj_img {
    border: 2px solid black;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #99ccff;
    padding: 1px;
    border-bottom: 1px solid #9c9c9c;
}

main {
    flex: 1;
    display: flex;
}

section {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #99ccff;
    padding: 5px;
    border-top: 1px solid #9c9c9c;
}

.horizontal-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.horizontal-list li {
    margin-right: 20px;
    font-family: 'Coolvectica', sans-serif;
}

.horizontal-list li:last-child {
    margin-right: 0;
}

.horizontal-list li a {
    font-size: 1.05vw;
    color: black;
    text-decoration: none;
    position: relative;
}

.horizontal-list li a::before,
.horizontal-list li a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 0;
    height: 3.5px;
    background-color: black;
    transition: width 0.3s ease;
}

.horizontal-list li a::before {
    left: 50%;
    transform: translateX(-50%, 6px);
}

.horizontal-list li a::after {
    right: 50%;
    transform: translateX(50%, 6px);
}

.horizontal-list li a:hover::before,
.horizontal-list li a:hover::after {
    width: 50%;
}

aside {
    width: 17.5%;
    background-color: #ffffff;
    padding: 10px;
    padding-top: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profile-picture {
    width: 50%;
    height: auto;
    border-radius: 45%;
    object-fit: contain;
}

.profile-container {
    text-align: center;
}

.profile-text {
    margin-top: 10px;
    font-size: 1.2vw;
    font-family: 'Coolvectica', sans-serif;
}

.profile-text-header {
    font-size: 1.95vw;
    font-family: 'Coolvectica', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2vw;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7vw;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.section-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    color: #141414;
}

.section-text2{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8vw;
  color: #141414;
}

.footer-text {
    font-family: 'Coolvectica', sans-serif;
    font-size: 1.0vw;
    margin-left: 10px;
}

.course-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    color: #141414;
}

.content {
    display: none;
}
  
.active {
    display: block;
}

.prev-next-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }

  .prev-next-buttons button {
    background-color: transparent;
    border: 2px solid #9c9c9c;
    padding: 10px 20px;
    font-size: 25px;
    color: gray;
    transition: color 0.3s;
    cursor: pointer;
    width: 35vw;
    height: 7vh;
  }

  .prev-next-buttons button:hover {
    color: #99ccff; 
  }

  button.previous-btn {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  
  button.next-btn {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  
  a {
    text-decoration: none;
    color: #141414;
  }

  .section1, .section2 {
    display: block;
    clear: both;
  }

 .even {
    background-color: #f2f2f2; 
 } 

 .odd {
    background-color: #ffffff; 
 }
 
 .holiday {
    background-color: #cc2936; 
    color: #ffffff;
    font-weight: bold; 
 }

 .homework {
  background-color: #6667ab; 
  color: #ffffff;
  font-weight: bold; 
 }

 .exam {
  background-color: #ce9e00; 
  color: #ffffff;
  font-weight: bold; 
 }

 .sections-container {
    clear: both;
    margin-top: 20px; 
  }

  .schedule {
    width: 95%; 
    border-collapse: collapse; 
    margin-left: 20px; 
    margin-right: 20px; 
  }
  
  .schedule th {
    background-color: #333; 
    color: #fff; 
    padding: 8px; 
  }
  
  .schedule td {
    padding: 8px; 
    border: 1px solid #ddd;
  }

  .schedule tr {
    font-family: 'Montserrat', sans-serif;
  }

  #github-files-list {
    list-style: none; 
    padding: 0; 
    margin-left: 4%;
  }
  
  #github-files-list li {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
  }
  
  #github-files-list button {
    display: inline-block; 
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px; 
    text-align: left;
    background-color: #3498db; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-right: 5px; 
  }
  
  #github-files-list a {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px; 
    text-align: left;
    background-color: #ddd; 
    color: #000; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-right: 5px; 
  }
  
  #github-files-list button:hover {
    background-color: #2980b9; 
  }
  
  #github-files-list a:hover {
    background-color: #aaa; 
  }

  .main {
    display: flex;
    flex-direction: column;
    height: 100vh; 
  }
  
  .top {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    margin-bottom: 10px; 
  }
  
  .left,
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .left {
    margin-left: 3%;
  }
  
  .right {
    margin-left: 20px; 
  }
  
  .bottom {
    margin-top: auto; 
    margin-left: 2%;
    margin-bottom: 1%;
  }

  #code-display {
    margin-left: 25px;
    overflow: hidden;
    height: 500px;
  }

  .home-icon {
    font-family: 'Coolvectica', sans-serif;
    font-size: 1.0vw;
    margin-right: 10px;
  }

  .footer-left, .footer-right {
    padding: 5px; 
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homework-link {
    color: white;
  }

  